# Temperature Analysis

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('../Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [4]:
# Set the date column as the DataFrame index
df.set_index('date', inplace =True)
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [5]:
# Drop NA values
df = df.dropna()
df.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70

### Compare June and December data across all years

In [6]:
from scipy import stats
degree_sign= u'\N{DEGREE SIGN}'

In [7]:
# Filter data for desired months
df_june = df[df.index.month==6]
df_dec = df[df.index.month==12]

In [8]:
# Identify the average temperature for June
group_june = df_june.groupby(df_june.index.month==6).mean()
print(f"The Average Temperature in the Month of June was {round(group_june.tobs.values[0], 2)}{degree_sign}F")

The Average Temperature in the Month of June was 74.89°F

In [9]:
# Identify the average temperature for December
group_dec = df_dec.groupby(df_dec.index.month==12).mean()
print(f"The Average Temperature in the Month of December was {round(group_dec.tobs.values[0], 2)}{degree_sign}F")

The Average Temperature in the Month of December was 70.93°F

In [ ]:
# Create collections of temperature data

In [14]:
# Run paired t-test
t_result = stats.ttest_ind(df_june['tobs'], df_dec['tobs'], equal_var=False)
alpha = 0.05
t_result
# if  (t_result[1] < alpha):
#     print('The difference in the means are statistically significant')

Ttest_indResult(statistic=30.624201480767336, pvalue=6.622829250184814e-178)

In [16]:
stats.ttest_rel(a=df_june['tobs'], b=df_dec['tobs'])

ValueError: unequal length arrays

### Analysis